<html>
<head>
</head>
<body>
  <p>
    Hola,<br/>
    te paso los datos del cliente y sus deudores:
  </p>

  <table style="border: 1px solid #6c6159;">
    <tr>
      <td style="font-weight: bold">Cliente</td>
      <td><strong>{{ data.name }}</strong></td>
    </tr>
    <tr>
      <td style="font-weight: bold">CIF/NIF</td>
      <td>{{ data.cif }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Contacto</td>
      <td>{{ data.contact }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Teléfono</td>
      <td>{{ data.phone }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Email</td>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold">Dirección</td>
      <td>{{ data.address }}, {{ data.city }}, {{ data.postalCode }} </td>
    </tr>
    {% if data.deutors|length > 0 %}
      {% set i = 1 %}
      {% for deutor in data.deutors %}
        <tr>
          <td colspan="2"><hr/></td>
        </tr>
        <tr>
          <td style="font-weight: bold">Deudor {{ i }}</td>
          <td><strong>{{ deutor.name }}</strong></td>
        </tr>
        <tr>
          <td style="font-weight: bold">CIF/NIF</td>
          <td>{{ deutor.cif }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Contacto</td>
          <td>{{ deutor.contact }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Teléfono</td>
          <td>{{ deutor.phone }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Email</td>
          <td>{{ deutor.email }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Dirección</td>
          <td>{{ deutor.address }}, {{ deutor.city }}, {{ deutor.postalCode }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Importe</td>
          <td>{{ deutor.ammount }}€</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Fecha</td>
          <td>{{ deutor.date.format('d-m-Y') }}</td>
        </tr>

        {% set i = i +1 %}
      {% endfor %}

    {% endif %}

  </table>

  <p>Saludos</p>
</body>
</html>